/* -----------------------------------------
   DASHBOARD PAGE
------------------------------------------*/

.dashboard-card {
    padding: 25px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.2s ease;
}

.dashboard-card:hover {
    transform: translateY(-3px);
}

.dashboard-card h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

.dashboard-card p {
    font-size: 0.95rem;
    color: #555;
}
